table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: 10px auto;
}

p {
    margin: 15px 0;
}

body {
    text-align: center;
}

canvas#stage {
    border: 2px solid lightgray;
}